html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}
body {background-color: rgb(174, 49, 49);
        
}

.image {
    width: 5px;
    height: 4px;
    position:absolute;
    right: 800px;
    top: 20%;
    transform: translateY(-50%);
 }
 p {
    color: white;
    fost-size: 14px;
    text-align: left;
 }
 ul {
    color: white;
 }

 h1 {
    color: white;
    font-size: 24px;
    text-align: center;
 }
 body {
    color: white;
 }